.App-search_container {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-searcher {
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    outline: none;
}

.App-search_button {
    display: inline-block;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
    color: black;
}

.App-search_button:hover {
    background-color: rgba(0, 0, 0, .2);
}